
@{
    ViewBag.Title = "Transporter";
}

<h2>Transporter</h2>
<form class="col-4" method="post">
    <input type="text" name="value" id="value" class="form-control" />

    <input type="submit" class="btn btn-success"/>
</form>
